/*=========================
 AI VS Traditional
==========================*/

.comparison-section{

    padding:120px 8%;

    background:#fff;
}

.comparison-container{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:70px;

    align-items:center;
}

/* Image */

.comparison-image{

    display:flex;

    justify-content:center;
}

.comparison-image img{

    width:100%;

    max-width:700px;

    border-radius:25px;

    box-shadow:0 20px 45px rgba(124,58,237,.18);

    transition:.4s;
}

.comparison-image img:hover{

    transform:scale(1.03);
}

/* Content */

.comparison-content h2{

    font-size:40px;

    line-height:1.2;

    color:#111827;

    margin-bottom:25px;

    font-weight:700;
}

.comparison-content p{

    font-size:19px;

    color:#6b7280;

    line-height:1.9;

    margin-bottom:35px;
}

.comparison-features{

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:18px;

    margin-bottom:40px;
}

.comparison-features div{

    font-size:16px;

    font-weight:500;

    color:#111827;
}

@media(max-width:1000px){

.comparison-container{

grid-template-columns:1fr;

}

.comparison-content{

text-align:center;

}

.comparison-content h2{

font-size:40px;

}

.comparison-features{

grid-template-columns:1fr;

}

}